/* ------------------------------------------------------------------------------------- */
/* -------------------------- I. GENERALIDADES DEL CONTENIDO --------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Selector Universal */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
/* ------------------------------------------------------------------------------------- */
/* ---------------------------- II. LAYOUT: MAQUETACIÓN WEB ---------------------------- */
/* ------------------------------- ESCRITORIO Y PORTATIL ------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Nav */
nav{    
    /* height: 200px;     */
}
/* Logo */
.logo{
    height: 100px;
}
/* Navegador */
.navega{
    height: 50px;    
}
/* Ingreso */
.ingreso{
    height: 50px;
}
/* Encabezado */
header{    
    height: 500px;    
}
/* Títulos */
.titulo{
    height: 100px;
}
/* Secciones */
section{
    height: 700px;
}
/* Portafolio */
.portafolio{}
.portafolio-column{}
/* Nosotros */
.nosotros{}
.nosotros .col-12{
    height: 33.33%;
}
.nosotros .row{
    height: 100%;
}
/* Contáctenos */
.contactenos{}
/* Pie de Página */
footer{
    height: 120px;
}



/* ------------------------------------------------------------------------------------- */
/* ------------------------------ III. RESPONSIVE DESIGN ------------------------------- */
/* -------------------------------------- TABLETS -------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Tablet: Media Queries */
@media (min-width: 992px) {
    /* Contenedor */
    .logo{
        height: 50px;
    }
}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------- IV. RESPONSIVE DESIGN ------------------------------- */
/* ------------------------------------- CELULARES ------------------------------------- */
/* ------------------------------------------------------------------------------------- */